.nav-container {
    width: 100%;
    background-color: white;
    z-index: 22;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 3rem;
    margin: auto;
    padding-top: 0.5rem;
    z-index: 22;
}

li {
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
    gap: 1rem;
}

.nav-list-left {
    margin-left: 4rem;
}

.nav-list-right {
    margin-left: 4rem;
    margin-right: 1rem;
}

.nav-logo {
    width: 5rem;
    margin-left: 4rem;
}

.connect-wallet-btn {
    background-color: #4caf50;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .nav-list {
        visibility: hidden;
    }
}

@media screen and (max-width: 850px) {
    .nav-wrapper {
        width: 100%;
    }

    .nav-list {
        width: 30%;
    }

    .nav-logo {
        margin-left: 1rem;
    }
}